<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-block">Nuevo Usuario</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-block">Editar Usuarios</button>
    </div>
  </div>
</div>
<p></p>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <app-register></app-register>
      </div>
      <div class="col-md-8">
        <app-permisos></app-permisos>
      </div>
    </div>
  </div>
</div>


